@page
@model ArtProject.Pages.SetProfileModel
@{
}

<body>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-content">
                    <h1 class="display-1">Welcome</h1>
                    <div class="d-flex justify-content-around">
                        <a asp-page="SignUp">Sign Up</a>
                        <div>
                            <h5 class="display-5">Already have an account?</h5>
                            <a asp-page="LogIn">Log In</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>